    <br><div class="container">
	    <div class="col-md-8">
	   
		  <h1>Stock Management</h1>
		  <p class="lead">
		    Mobile location based stock and replenishment system for clinics.
		  </p>
 		</div>
	    <div class="col-md-4">
	     		   <br> 
			<a href="/admins/sign_in" class="btn btn-primary btn-block btn-lg">Administrator Login</a>	    
	    	<br>	 <br>
		</div>
 
    </div>   