<div class=" container " >
<br>
<h5>Navigate</h5>

</div>  

<table class="table " >

<tr><td> <a class="nav-link" href="/dashboard/summary">Dashboard</a></td></tr>
<tr><td> <a class="nav-link" href="/clinics">Clinics</a></td></tr>
<tr><td> <a class="nav-link" href="/products">Products</a></td></tr>
<tr><td> <a class="nav-link" href="/users">Users</a></td></tr>
<tr><td> <a class="nav-link" href="/stocks">Stock</a></td></tr>

<tr><td> <a class="nav-link" href="/stock_takes">Stock Takes</a></td></tr>

</table>
 
       