<% if params[:controller]=='welcome'%>
    <div class="bd-pageheader">
      <div class="container">
	        
		  <h1>Stock Management System</h1>
		  <p class="lead">
		    Mobile location based stock and replenishment system for rural clinics.
		  </p>
 			

		  <br>
		    
<a href="/admins/sign_in" class="btn btn-secondary btn-lg">Administrator Login</a>

	 
 
      </div>
    </div>
	  <% end %>